@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");

body {
    color: #64CCC5;
    text-align: center;
    font-family: "Lato", sans-serif;
    background-color: #053B50;
}
table {
    margin: auto;
    width: 30%;
    position: relative;
    background-color: white;
}
td {
    font-family: sans-serif;
    color: black;
    padding: 0%;
    text-align: left;
}